<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../VUEwenjia/vue.js"></script>
</head>
<body>
    <div id="box">
        <!-- radio是单选框 -->
       男: <input type="radio" v-model="message" value="男"> 女: <input type="radio" v-model="message" value="女">
       <p>你选择的性别是:{{message}}</p>
    </div>
</body>
<script>
    const vm=new Vue({
        el:'#box',
        data:{
            message:''
        }
    })
</script>
</html>