<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../VUEwenjia/vue.js"></script>
</head>
<body>
    <div id="box">
        爱好:
        唱歌: <input type="checkbox" value="唱歌" v-model="arrs">
        <br>
        跳舞: <input type="checkbox" value="跳舞" v-model="arrs">
        <br>
        游泳: <input type="checkbox" value="游泳" v-model="arrs">
        <br>
        <!-- <span>你选择的爱好有:{{arrs}}</span> -->
        你选择的爱好:
        <span v-for="item in arrs">{{item}}, </span>
    </div>
</body>
<script>
    const vm=new Vue({
        el:'#box',
        data:{
            arrs:[],
        }
    })
</script>
</html>