<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../VUEwenjia/vue.js"></script>
</head>
<body>
    <div id="box">
        <ul>
            <!-- 属性名通过index获取 -->
            <li v-for="(item,index) in obj">{{index}}----{{item}}</li>
        </ul>
        <p>{{obj.name}}</p>
        <p v-for="(item,index) in obj2">{{index}}---{{item}}</p>
    </div>
    <script>
        const vm=new Vue({
            el:'#box',
            data:{
                obj:{
                    name:'张三',
                    age:39,
                    address:'郑州市'
                },
                obj2:{
                    name:'李四',
                    age:40,
                    address:'河南省开封市'
                }
            }
        })
    </script>
</body>
</html>