<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="box">
        <!-- //A页面在使用的时候 -->
        <child v-slot="myslotobj">
            <!-- 也可以直接在组件上写v-slot -->
            <!-- v-slot这个方式只能在template身上使用 -->
            <!-- myslotobj里保存到就是一个对象 对象里子组件里定义slot的每一个数据  -->
            <ul>
                <li v-for="item in myslotobj.data"> {{item}}</li>

        </child>
        <!-- //B页面在使用的时候 -->
        <child v-slot="myslotobj2">

            <ol>
                <li v-for="item in myslotobj2.data">
                    {{item}}
                </li>
            </ol>

        </child>
    </div>
</body>
<template id="child">
    <div>
        <h1>这个是子组件</h1>
        <!-- 用slot 自定义属性传递过去数据 在父模板种使用 -->
        <slot :data="users">
            <p>这个是默认插槽</p>
        </slot>
    </div>
</template>
<script src="../VUEwenjia/vue.js"></script>
<script>
    //定义子组件
    Vue.component('child', {
        template: "#child",
        data() {
            return {
                users: ['张三',
                    '王五',
                    '李四',
                    '小军',
                    '小明'
                ]
            }
        },
    })
    new Vue({
        el: '#box'
    })
</script>

</html>